body {
    background-image: url('fundo-jogador-1.jpg');
    background-size: cover; 
    background-repeat: no-repeat ;
    margin: 0.5%;
   
}

#transparente {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2%;
}

.transparente {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2%;
}

#card-meu{
    
    border-radius: 2%;
}

.zoom {
 
    transition: transform 0.5s ;
  }
  
  /* Define a escala aumentada quando o mouse está sobre o elemento */
  .zoom:hover {
    transform: scale(1.02);
  }


.card-jogo {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff; 
    border-radius: 50%; 
    padding: 20px; 
   
}

.card-jogo h5 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.card-jogo p {
    font-size: 1rem; /* Tamanho da fonte do texto */
    margin-bottom: 15px; /* Espaçamento inferior do texto */
}

.card-jogo img {
    width: 100%;
    height: 250px;
    border-radius: 5px; 
    object-fit: cover; 
}

.butao {
    border: none;
    background-color: blueviolet;
    color: #ffffff; 
    border-radius: 10px; 
   
   
}

.forca-destaque {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
   
}



.colorful-border {
    border-radius: 8px; 
    border: 3px solid transparent;   
    
    
}


@keyframes colorfulBorderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
    }
    100% {
        border-image-source: linear-gradient(45deg, #0000ff, #ff0000, #00ff00);
    }
}


.colorful-border {
    animation: colorfulBorderAnimation 1s linear infinite alternate-reverse;
    border-image-slice: 1;
    
}



  